.social-icons {
  font-size: 50px;
  cursor: pointer;
  margin-left: 200px;

}
.fab:hover {
    color: #008000;
}
.fab {
    color: #ffffff;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

.contact-title h1{
  color: #fff;
}
